$icomoon-font-family: "bgcode" !default;
$icomoon-font-path: "fonts" !default;

$icon-cib-500px-5: unquote('"\\e900"');
$icon-cib-500px: unquote('"\\e901"');
$icon-cib-about-me: unquote('"\\e902"');
$icon-cib-abstract: unquote('"\\e903"');
$icon-cib-acm: unquote('"\\e904"');
$icon-cib-addthis: unquote('"\\e905"');
$icon-cib-adguard: unquote('"\\e906"');
$icon-cib-adobe-acrobat-reader: unquote('"\\e907"');
$icon-cib-adobe-after-effects: unquote('"\\e908"');
$icon-cib-adobe-audition: unquote('"\\e909"');
$icon-cib-adobe-creative-cloud: unquote('"\\e90a"');
$icon-cib-adobe-dreamweaver: unquote('"\\e90b"');
$icon-cib-adobe-illustrator: unquote('"\\e90c"');
$icon-cib-adobe-indesign: unquote('"\\e90d"');
$icon-cib-adobe-lightroom-classic: unquote('"\\e90e"');
$icon-cib-adobe-lightroom: unquote('"\\e90f"');
$icon-cib-adobe-photoshop: unquote('"\\e910"');
$icon-cib-adobe-premiere: unquote('"\\e911"');
$icon-cib-adobe-typekit: unquote('"\\e912"');
$icon-cib-adobe-xd: unquote('"\\e913"');
$icon-cib-adobe: unquote('"\\e914"');
$icon-cib-airbnb: unquote('"\\e915"');
$icon-cib-algolia: unquote('"\\e916"');
$icon-cib-alipay: unquote('"\\e917"');
$icon-cib-allocine: unquote('"\\e918"');
$icon-cib-amazon-aws: unquote('"\\e919"');
$icon-cib-amazon-pay: unquote('"\\e91a"');
$icon-cib-amazon: unquote('"\\e91b"');
$icon-cib-amd: unquote('"\\e91c"');
$icon-cib-american-express: unquote('"\\e91d"');
$icon-cib-anaconda: unquote('"\\e91e"');
$icon-cib-analogue: unquote('"\\e91f"');
$icon-cib-android-alt: unquote('"\\e920"');
$icon-cib-android: unquote('"\\e921"');
$icon-cib-angellist: unquote('"\\e922"');
$icon-cib-angular-universal: unquote('"\\e923"');
$icon-cib-angular: unquote('"\\e924"');
$icon-cib-ansible: unquote('"\\e925"');
$icon-cib-apache-airflow: unquote('"\\e926"');
$icon-cib-apache-flink: unquote('"\\e927"');
$icon-cib-apache-spark: unquote('"\\e928"');
$icon-cib-apache: unquote('"\\e929"');
$icon-cib-app-store-ios: unquote('"\\e92a"');
$icon-cib-app-store: unquote('"\\e92b"');
$icon-cib-apple-music: unquote('"\\e92c"');
$icon-cib-apple-pay: unquote('"\\e92d"');
$icon-cib-apple-podcasts: unquote('"\\e92e"');
$icon-cib-apple: unquote('"\\e92f"');
$icon-cib-appveyor: unquote('"\\e930"');
$icon-cib-aral: unquote('"\\e931"');
$icon-cib-arch-linux: unquote('"\\e932"');
$icon-cib-archive-of-our-own: unquote('"\\e933"');
$icon-cib-arduino: unquote('"\\e934"');
$icon-cib-artstation: unquote('"\\e935"');
$icon-cib-arxiv: unquote('"\\e936"');
$icon-cib-asana: unquote('"\\e937"');
$icon-cib-at-and-t: unquote('"\\e938"');
$icon-cib-atlassian: unquote('"\\e939"');
$icon-cib-atom: unquote('"\\e93a"');
$icon-cib-audible: unquote('"\\e93b"');
$icon-cib-aurelia: unquote('"\\e93c"');
$icon-cib-auth0: unquote('"\\e93d"');
$icon-cib-automatic: unquote('"\\e93e"');
$icon-cib-autotask: unquote('"\\e93f"');
$icon-cib-aventrix: unquote('"\\e940"');
$icon-cib-azure-artifacts: unquote('"\\e941"');
$icon-cib-azure-devops: unquote('"\\e942"');
$icon-cib-azure-pipelines: unquote('"\\e943"');
$icon-cib-babel: unquote('"\\e944"');
$icon-cib-baidu: unquote('"\\e945"');
$icon-cib-bamboo: unquote('"\\e946"');
$icon-cib-bancontact: unquote('"\\e947"');
$icon-cib-bandcamp: unquote('"\\e948"');
$icon-cib-basecamp: unquote('"\\e949"');
$icon-cib-bathasu: unquote('"\\e94a"');
$icon-cib-behance: unquote('"\\e94b"');
$icon-cib-big-cartel: unquote('"\\e94c"');
$icon-cib-bing: unquote('"\\e94d"');
$icon-cib-bit: unquote('"\\e94e"');
$icon-cib-bitbucket: unquote('"\\e94f"');
$icon-cib-bitcoin: unquote('"\\e950"');
$icon-cib-bitdefender: unquote('"\\e951"');
$icon-cib-bitly: unquote('"\\e952"');
$icon-cib-blackberry: unquote('"\\e953"');
$icon-cib-blender: unquote('"\\e954"');
$icon-cib-blogger-b: unquote('"\\e955"');
$icon-cib-blogger: unquote('"\\e956"');
$icon-cib-bluetooth-b: unquote('"\\e957"');
$icon-cib-bluetooth: unquote('"\\e958"');
$icon-cib-boeing: unquote('"\\e959"');
$icon-cib-boost: unquote('"\\e95a"');
$icon-cib-bootstrap: unquote('"\\e95b"');
$icon-cib-bower: unquote('"\\e95c"');
$icon-cib-brand-ai: unquote('"\\e95d"');
$icon-cib-brave: unquote('"\\e95e"');
$icon-cib-btc: unquote('"\\e95f"');
$icon-cib-buddy: unquote('"\\e960"');
$icon-cib-buffer: unquote('"\\e961"');
$icon-cib-buy-me-a-coffee: unquote('"\\e962"');
$icon-cib-buysellads: unquote('"\\e963"');
$icon-cib-buzzfeed: unquote('"\\e964"');
$icon-cib-c: unquote('"\\e965"');
$icon-cib-cakephp: unquote('"\\e966"');
$icon-cib-campaign-monitor: unquote('"\\e967"');
$icon-cib-canva: unquote('"\\e968"');
$icon-cib-cashapp: unquote('"\\e969"');
$icon-cib-cassandra: unquote('"\\e96a"');
$icon-cib-castro: unquote('"\\e96b"');
$icon-cib-cc-amazon-pay: unquote('"\\e96c"');
$icon-cib-cc-amex: unquote('"\\e96d"');
$icon-cib-cc-apple-pay: unquote('"\\e96e"');
$icon-cib-cc-diners-club: unquote('"\\e96f"');
$icon-cib-cc-discover: unquote('"\\e970"');
$icon-cib-cc-jcb: unquote('"\\e971"');
$icon-cib-cc-mastercard: unquote('"\\e972"');
$icon-cib-cc-paypal: unquote('"\\e973"');
$icon-cib-cc-stripe: unquote('"\\e974"');
$icon-cib-cc-visa: unquote('"\\e975"');
$icon-cib-centos: unquote('"\\e976"');
$icon-cib-cevo: unquote('"\\e977"');
$icon-cib-chase: unquote('"\\e978"');
$icon-cib-chef: unquote('"\\e979"');
$icon-cib-chromecast: unquote('"\\e97a"');
$icon-cib-circle: unquote('"\\e97b"');
$icon-cib-circleci: unquote('"\\e97c"');
$icon-cib-cirrusci: unquote('"\\e97d"');
$icon-cib-cisco: unquote('"\\e97e"');
$icon-cib-civicrm: unquote('"\\e97f"');
$icon-cib-clockify: unquote('"\\e980"');
$icon-cib-clojure: unquote('"\\e981"');
$icon-cib-cloudbees: unquote('"\\e982"');
$icon-cib-cloudflare: unquote('"\\e983"');
$icon-cib-cmake: unquote('"\\e984"');
$icon-cib-co-op: unquote('"\\e985"');
$icon-cib-codacy: unquote('"\\e986"');
$icon-cib-code-climate: unquote('"\\e987"');
$icon-cib-codecademy: unquote('"\\e988"');
$icon-cib-codecov: unquote('"\\e989"');
$icon-cib-codeigniter: unquote('"\\e98a"');
$icon-cib-codepen: unquote('"\\e98b"');
$icon-cib-coderwall: unquote('"\\e98c"');
$icon-cib-codesandbox: unquote('"\\e98d"');
$icon-cib-codeship: unquote('"\\e98e"');
$icon-cib-codewars: unquote('"\\e98f"');
$icon-cib-codio: unquote('"\\e990"');
$icon-cib-coffeescript: unquote('"\\e991"');
$icon-cib-common-workflow-language: unquote('"\\e992"');
$icon-cib-composer: unquote('"\\e993"');
$icon-cib-conda-forge: unquote('"\\e994"');
$icon-cib-conekta: unquote('"\\e995"');
$icon-cib-confluence: unquote('"\\e996"');
$icon-cib-coreui-c: unquote('"\\e997"');
$icon-cib-coreui: unquote('"\\e998"');
$icon-cib-coursera: unquote('"\\e999"');
$icon-cib-coveralls: unquote('"\\e99a"');
$icon-cib-cpanel: unquote('"\\e99b"');
$icon-cib-cplusplus: unquote('"\\e99c"');
$icon-cib-creative-commons-by: unquote('"\\e99d"');
$icon-cib-creative-commons-nc-eu: unquote('"\\e99e"');
$icon-cib-creative-commons-nc-jp: unquote('"\\e99f"');
$icon-cib-creative-commons-nc: unquote('"\\e9a0"');
$icon-cib-creative-commons-nd: unquote('"\\e9a1"');
$icon-cib-creative-commons-pd-alt: unquote('"\\e9a2"');
$icon-cib-creative-commons-pd: unquote('"\\e9a3"');
$icon-cib-creative-commons-remix: unquote('"\\e9a4"');
$icon-cib-creative-commons-sa: unquote('"\\e9a5"');
$icon-cib-creative-commons-sampling-plus: unquote('"\\e9a6"');
$icon-cib-creative-commons-sampling: unquote('"\\e9a7"');
$icon-cib-creative-commons-share: unquote('"\\e9a8"');
$icon-cib-creative-commons-zero: unquote('"\\e9a9"');
$icon-cib-creative-commons: unquote('"\\e9aa"');
$icon-cib-crunchbase: unquote('"\\e9ab"');
$icon-cib-crunchyroll: unquote('"\\e9ac"');
$icon-cib-css3-shiled: unquote('"\\e9ad"');
$icon-cib-css3: unquote('"\\e9ae"');
$icon-cib-csswizardry: unquote('"\\e9af"');
$icon-cib-d3-js: unquote('"\\e9b0"');
$icon-cib-dailymotion: unquote('"\\e9b1"');
$icon-cib-dashlane: unquote('"\\e9b2"');
$icon-cib-dazn: unquote('"\\e9b3"');
$icon-cib-dblp: unquote('"\\e9b4"');
$icon-cib-debian: unquote('"\\e9b5"');
$icon-cib-deepin: unquote('"\\e9b6"');
$icon-cib-deezer: unquote('"\\e9b7"');
$icon-cib-delicious: unquote('"\\e9b8"');
$icon-cib-dell: unquote('"\\e9b9"');
$icon-cib-deno: unquote('"\\e9ba"');
$icon-cib-dependabot: unquote('"\\e9bb"');
$icon-cib-designer-news: unquote('"\\e9bc"');
$icon-cib-dev-to: unquote('"\\e9bd"');
$icon-cib-deviantart: unquote('"\\e9be"');
$icon-cib-devrant: unquote('"\\e9bf"');
$icon-cib-diaspora: unquote('"\\e9c0"');
$icon-cib-digg: unquote('"\\e9c1"');
$icon-cib-digital-ocean: unquote('"\\e9c2"');
$icon-cib-discord: unquote('"\\e9c3"');
$icon-cib-discourse: unquote('"\\e9c4"');
$icon-cib-discover: unquote('"\\e9c5"');
$icon-cib-disqus: unquote('"\\e9c6"');
$icon-cib-disroot: unquote('"\\e9c7"');
$icon-cib-django: unquote('"\\e9c8"');
$icon-cib-docker: unquote('"\\e9c9"');
$icon-cib-docusign: unquote('"\\e9ca"');
$icon-cib-dot-net: unquote('"\\e9cb"');
$icon-cib-draugiem-lv: unquote('"\\e9cc"');
$icon-cib-dribbble: unquote('"\\e9cd"');
$icon-cib-drone: unquote('"\\e9ce"');
$icon-cib-dropbox: unquote('"\\e9cf"');
$icon-cib-drupal: unquote('"\\e9d0"');
$icon-cib-dtube: unquote('"\\e9d1"');
$icon-cib-duckduckgo: unquote('"\\e9d2"');
$icon-cib-dynatrace: unquote('"\\e9d3"');
$icon-cib-ebay: unquote('"\\e9d4"');
$icon-cib-eclipseide: unquote('"\\e9d5"');
$icon-cib-elastic-cloud: unquote('"\\e9d6"');
$icon-cib-elastic-search: unquote('"\\e9d7"');
$icon-cib-elastic-stack: unquote('"\\e9d8"');
$icon-cib-elastic: unquote('"\\e9d9"');
$icon-cib-electron: unquote('"\\e9da"');
$icon-cib-elementary: unquote('"\\e9db"');
$icon-cib-eleventy: unquote('"\\e9dc"');
$icon-cib-ello: unquote('"\\e9dd"');
$icon-cib-elsevier: unquote('"\\e9de"');
$icon-cib-emlakjet: unquote('"\\e9df"');
$icon-cib-empirekred: unquote('"\\e9e0"');
$icon-cib-envato: unquote('"\\e9e1"');
$icon-cib-epic-games: unquote('"\\e9e2"');
$icon-cib-epson: unquote('"\\e9e3"');
$icon-cib-esea: unquote('"\\e9e4"');
$icon-cib-eslint: unquote('"\\e9e5"');
$icon-cib-ethereum: unquote('"\\e9e6"');
$icon-cib-etsy: unquote('"\\e9e7"');
$icon-cib-event-store: unquote('"\\e9e8"');
$icon-cib-eventbrite: unquote('"\\e9e9"');
$icon-cib-evernote: unquote('"\\e9ea"');
$icon-cib-everplaces: unquote('"\\e9eb"');
$icon-cib-evry: unquote('"\\e9ec"');
$icon-cib-exercism: unquote('"\\e9ed"');
$icon-cib-experts-exchange: unquote('"\\e9ee"');
$icon-cib-expo: unquote('"\\e9ef"');
$icon-cib-eyeem: unquote('"\\e9f0"');
$icon-cib-f-secure: unquote('"\\e9f1"');
$icon-cib-facebook-f: unquote('"\\e9f2"');
$icon-cib-facebook: unquote('"\\e9f3"');
$icon-cib-faceit: unquote('"\\e9f4"');
$icon-cib-fandango: unquote('"\\e9f5"');
$icon-cib-favro: unquote('"\\e9f6"');
$icon-cib-feathub: unquote('"\\e9f7"');
$icon-cib-fedex: unquote('"\\e9f8"');
$icon-cib-fedora: unquote('"\\e9f9"');
$icon-cib-feedly: unquote('"\\e9fa"');
$icon-cib-fido-alliance: unquote('"\\e9fb"');
$icon-cib-figma: unquote('"\\e9fc"');
$icon-cib-filezilla: unquote('"\\e9fd"');
$icon-cib-firebase: unquote('"\\e9fe"');
$icon-cib-fitbit: unquote('"\\e9ff"');
$icon-cib-flask: unquote('"\\ea00"');
$icon-cib-flattr: unquote('"\\ea01"');
$icon-cib-flickr: unquote('"\\ea02"');
$icon-cib-flipboard: unquote('"\\ea03"');
$icon-cib-flutter: unquote('"\\ea04"');
$icon-cib-fnac: unquote('"\\ea05"');
$icon-cib-foursquare: unquote('"\\ea06"');
$icon-cib-framer: unquote('"\\ea07"');
$icon-cib-freebsd: unquote('"\\ea08"');
$icon-cib-freecodecamp: unquote('"\\ea09"');
$icon-cib-fur-affinity: unquote('"\\ea0a"');
$icon-cib-furry-network: unquote('"\\ea0b"');
$icon-cib-garmin: unquote('"\\ea0c"');
$icon-cib-gatsby: unquote('"\\ea0d"');
$icon-cib-gauges: unquote('"\\ea0e"');
$icon-cib-genius: unquote('"\\ea0f"');
$icon-cib-gentoo: unquote('"\\ea10"');
$icon-cib-geocaching: unquote('"\\ea11"');
$icon-cib-gerrit: unquote('"\\ea12"');
$icon-cib-gg: unquote('"\\ea13"');
$icon-cib-ghost: unquote('"\\ea14"');
$icon-cib-gimp: unquote('"\\ea15"');
$icon-cib-git: unquote('"\\ea16"');
$icon-cib-gitea: unquote('"\\ea17"');
$icon-cib-github: unquote('"\\ea18"');
$icon-cib-gitkraken: unquote('"\\ea19"');
$icon-cib-gitlab: unquote('"\\ea1a"');
$icon-cib-gitpod: unquote('"\\ea1b"');
$icon-cib-gitter: unquote('"\\ea1c"');
$icon-cib-glassdoor: unquote('"\\ea1d"');
$icon-cib-glitch: unquote('"\\ea1e"');
$icon-cib-gmail: unquote('"\\ea1f"');
$icon-cib-gnu-privacy-guard: unquote('"\\ea20"');
$icon-cib-gnu-social: unquote('"\\ea21"');
$icon-cib-gnu: unquote('"\\ea22"');
$icon-cib-go: unquote('"\\ea23"');
$icon-cib-godot-engine: unquote('"\\ea24"');
$icon-cib-gog-com: unquote('"\\ea25"');
$icon-cib-goldenline: unquote('"\\ea26"');
$icon-cib-goodreads: unquote('"\\ea27"');
$icon-cib-google-ads: unquote('"\\ea28"');
$icon-cib-google-allo: unquote('"\\ea29"');
$icon-cib-google-analytics: unquote('"\\ea2a"');
$icon-cib-google-chrome: unquote('"\\ea2b"');
$icon-cib-google-cloud: unquote('"\\ea2c"');
$icon-cib-google-keep: unquote('"\\ea2d"');
$icon-cib-google-pay: unquote('"\\ea2e"');
$icon-cib-google-play: unquote('"\\ea2f"');
$icon-cib-google-podcasts: unquote('"\\ea30"');
$icon-cib-google: unquote('"\\ea31"');
$icon-cib-googles-cholar: unquote('"\\ea32"');
$icon-cib-gov-uk: unquote('"\\ea33"');
$icon-cib-gradle: unquote('"\\ea34"');
$icon-cib-grafana: unquote('"\\ea35"');
$icon-cib-graphcool: unquote('"\\ea36"');
$icon-cib-graphql: unquote('"\\ea37"');
$icon-cib-grav: unquote('"\\ea38"');
$icon-cib-gravatar: unquote('"\\ea39"');
$icon-cib-greenkeeper: unquote('"\\ea3a"');
$icon-cib-greensock: unquote('"\\ea3b"');
$icon-cib-groovy: unquote('"\\ea3c"');
$icon-cib-groupon: unquote('"\\ea3d"');
$icon-cib-grunt: unquote('"\\ea3e"');
$icon-cib-gulp: unquote('"\\ea3f"');
$icon-cib-gumroad: unquote('"\\ea40"');
$icon-cib-gumtree: unquote('"\\ea41"');
$icon-cib-habr: unquote('"\\ea42"');
$icon-cib-hackaday: unquote('"\\ea43"');
$icon-cib-hackerearth: unquote('"\\ea44"');
$icon-cib-hackerone: unquote('"\\ea45"');
$icon-cib-hackerrank: unquote('"\\ea46"');
$icon-cib-hackhands: unquote('"\\ea47"');
$icon-cib-hackster: unquote('"\\ea48"');
$icon-cib-happycow: unquote('"\\ea49"');
$icon-cib-hashnode: unquote('"\\ea4a"');
$icon-cib-haskell: unquote('"\\ea4b"');
$icon-cib-hatena-bookmark: unquote('"\\ea4c"');
$icon-cib-haxe: unquote('"\\ea4d"');
$icon-cib-helm: unquote('"\\ea4e"');
$icon-cib-here: unquote('"\\ea4f"');
$icon-cib-heroku: unquote('"\\ea50"');
$icon-cib-hexo: unquote('"\\ea51"');
$icon-cib-highly: unquote('"\\ea52"');
$icon-cib-hipchat: unquote('"\\ea53"');
$icon-cib-hitachi: unquote('"\\ea54"');
$icon-cib-hockeyapp: unquote('"\\ea55"');
$icon-cib-homify: unquote('"\\ea56"');
$icon-cib-hootsuite: unquote('"\\ea57"');
$icon-cib-hotjar: unquote('"\\ea58"');
$icon-cib-houzz: unquote('"\\ea59"');
$icon-cib-hp: unquote('"\\ea5a"');
$icon-cib-html5-shield: unquote('"\\ea5b"');
$icon-cib-html5: unquote('"\\ea5c"');
$icon-cib-htmlacademy: unquote('"\\ea5d"');
$icon-cib-huawei: unquote('"\\ea5e"');
$icon-cib-hubspot: unquote('"\\ea5f"');
$icon-cib-hulu: unquote('"\\ea60"');
$icon-cib-humble-bundle: unquote('"\\ea61"');
$icon-cib-iata: unquote('"\\ea62"');
$icon-cib-ibm: unquote('"\\ea63"');
$icon-cib-icloud: unquote('"\\ea64"');
$icon-cib-iconjar: unquote('"\\ea65"');
$icon-cib-icq: unquote('"\\ea66"');
$icon-cib-ideal: unquote('"\\ea67"');
$icon-cib-ifixit: unquote('"\\ea68"');
$icon-cib-imdb: unquote('"\\ea69"');
$icon-cib-indeed: unquote('"\\ea6a"');
$icon-cib-inkscape: unquote('"\\ea6b"');
$icon-cib-instacart: unquote('"\\ea6c"');
$icon-cib-instagram: unquote('"\\ea6d"');
$icon-cib-instapaper: unquote('"\\ea6e"');
$icon-cib-intel: unquote('"\\ea6f"');
$icon-cib-intellijidea: unquote('"\\ea70"');
$icon-cib-intercom: unquote('"\\ea71"');
$icon-cib-internet-explorer: unquote('"\\ea72"');
$icon-cib-invision: unquote('"\\ea73"');
$icon-cib-ionic: unquote('"\\ea74"');
$icon-cib-issuu: unquote('"\\ea75"');
$icon-cib-itch-io: unquote('"\\ea76"');
$icon-cib-jabber: unquote('"\\ea77"');
$icon-cib-java: unquote('"\\ea78"');
$icon-cib-javascript: unquote('"\\ea79"');
$icon-cib-jekyll: unquote('"\\ea7a"');
$icon-cib-jenkins: unquote('"\\ea7b"');
$icon-cib-jest: unquote('"\\ea7c"');
$icon-cib-jet: unquote('"\\ea7d"');
$icon-cib-jetbrains: unquote('"\\ea7e"');
$icon-cib-jira: unquote('"\\ea7f"');
$icon-cib-joomla: unquote('"\\ea80"');
$icon-cib-jquery: unquote('"\\ea81"');
$icon-cib-js: unquote('"\\ea82"');
$icon-cib-jsdelivr: unquote('"\\ea83"');
$icon-cib-jsfiddle: unquote('"\\ea84"');
$icon-cib-json: unquote('"\\ea85"');
$icon-cib-jupyter: unquote('"\\ea86"');
$icon-cib-justgiving: unquote('"\\ea87"');
$icon-cib-kaggle: unquote('"\\ea88"');
$icon-cib-kaios: unquote('"\\ea89"');
$icon-cib-kaspersky: unquote('"\\ea8a"');
$icon-cib-kentico: unquote('"\\ea8b"');
$icon-cib-keras: unquote('"\\ea8c"');
$icon-cib-keybase: unquote('"\\ea8d"');
$icon-cib-keycdn: unquote('"\\ea8e"');
$icon-cib-khan-academy: unquote('"\\ea8f"');
$icon-cib-kibana: unquote('"\\ea90"');
$icon-cib-kickstarter: unquote('"\\ea91"');
$icon-cib-kik: unquote('"\\ea92"');
$icon-cib-kirby: unquote('"\\ea93"');
$icon-cib-klout: unquote('"\\ea94"');
$icon-cib-known: unquote('"\\ea95"');
$icon-cib-ko-fi: unquote('"\\ea96"');
$icon-cib-kodi: unquote('"\\ea97"');
$icon-cib-koding: unquote('"\\ea98"');
$icon-cib-kotlin: unquote('"\\ea99"');
$icon-cib-krita: unquote('"\\ea9a"');
$icon-cib-kubernetes: unquote('"\\ea9b"');
$icon-cib-lanyrd: unquote('"\\ea9c"');
$icon-cib-laravel-horizon: unquote('"\\ea9d"');
$icon-cib-laravel-nova: unquote('"\\ea9e"');
$icon-cib-laravel: unquote('"\\ea9f"');
$icon-cib-last-fm: unquote('"\\eaa0"');
$icon-cib-latex: unquote('"\\eaa1"');
$icon-cib-launchpad: unquote('"\\eaa2"');
$icon-cib-leetcode: unquote('"\\eaa3"');
$icon-cib-lenovo: unquote('"\\eaa4"');
$icon-cib-less: unquote('"\\eaa5"');
$icon-cib-lets-encrypt: unquote('"\\eaa6"');
$icon-cib-letterboxd: unquote('"\\eaa7"');
$icon-cib-lgtm: unquote('"\\eaa8"');
$icon-cib-liberapay: unquote('"\\eaa9"');
$icon-cib-librarything: unquote('"\\eaaa"');
$icon-cib-libreoffice: unquote('"\\eaab"');
$icon-cib-line: unquote('"\\eaac"');
$icon-cib-linkedin-in: unquote('"\\eaad"');
$icon-cib-linkedin: unquote('"\\eaae"');
$icon-cib-linux-foundation: unquote('"\\eaaf"');
$icon-cib-linux-mint: unquote('"\\eab0"');
$icon-cib-linux: unquote('"\\eab1"');
$icon-cib-livejournal: unquote('"\\eab2"');
$icon-cib-livestream: unquote('"\\eab3"');
$icon-cib-logstash: unquote('"\\eab4"');
$icon-cib-lua: unquote('"\\eab5"');
$icon-cib-lumen: unquote('"\\eab6"');
$icon-cib-lyft: unquote('"\\eab7"');
$icon-cib-macys: unquote('"\\eab8"');
$icon-cib-magento: unquote('"\\eab9"');
$icon-cib-magisk: unquote('"\\eaba"');
$icon-cib-mail-ru: unquote('"\\eabb"');
$icon-cib-mailchimp: unquote('"\\eabc"');
$icon-cib-makerbot: unquote('"\\eabd"');
$icon-cib-manjaro: unquote('"\\eabe"');
$icon-cib-markdown: unquote('"\\eabf"');
$icon-cib-marketo: unquote('"\\eac0"');
$icon-cib-mastercard: unquote('"\\eac1"');
$icon-cib-mastodon: unquote('"\\eac2"');
$icon-cib-material-design: unquote('"\\eac3"');
$icon-cib-mathworks: unquote('"\\eac4"');
$icon-cib-matrix: unquote('"\\eac5"');
$icon-cib-mattermost: unquote('"\\eac6"');
$icon-cib-matternet: unquote('"\\eac7"');
$icon-cib-maxcdn: unquote('"\\eac8"');
$icon-cib-mcafee: unquote('"\\eac9"');
$icon-cib-media-temple: unquote('"\\eaca"');
$icon-cib-mediafire: unquote('"\\eacb"');
$icon-cib-medium-m: unquote('"\\eacc"');
$icon-cib-medium: unquote('"\\eacd"');
$icon-cib-meetup: unquote('"\\eace"');
$icon-cib-mega: unquote('"\\eacf"');
$icon-cib-mendeley: unquote('"\\ead0"');
$icon-cib-messenger: unquote('"\\ead1"');
$icon-cib-meteor: unquote('"\\ead2"');
$icon-cib-micro-blog: unquote('"\\ead3"');
$icon-cib-microgenetics: unquote('"\\ead4"');
$icon-cib-microsoft-edge: unquote('"\\ead5"');
$icon-cib-microsoft: unquote('"\\ead6"');
$icon-cib-minetest: unquote('"\\ead7"');
$icon-cib-minutemailer: unquote('"\\ead8"');
$icon-cib-mix: unquote('"\\ead9"');
$icon-cib-mixcloud: unquote('"\\eada"');
$icon-cib-mixer: unquote('"\\eadb"');
$icon-cib-mojang: unquote('"\\eadc"');
$icon-cib-monero: unquote('"\\eadd"');
$icon-cib-mongodb: unquote('"\\eade"');
$icon-cib-monkeytie: unquote('"\\eadf"');
$icon-cib-monogram: unquote('"\\eae0"');
$icon-cib-monzo: unquote('"\\eae1"');
$icon-cib-moo: unquote('"\\eae2"');
$icon-cib-mozilla-firefox: unquote('"\\eae3"');
$icon-cib-mozilla: unquote('"\\eae4"');
$icon-cib-musescore: unquote('"\\eae5"');
$icon-cib-mxlinux: unquote('"\\eae6"');
$icon-cib-myspace: unquote('"\\eae7"');
$icon-cib-mysql: unquote('"\\eae8"');
$icon-cib-nativescript: unquote('"\\eae9"');
$icon-cib-nec: unquote('"\\eaea"');
$icon-cib-neo4j: unquote('"\\eaeb"');
$icon-cib-netflix: unquote('"\\eaec"');
$icon-cib-netlify: unquote('"\\eaed"');
$icon-cib-next-js: unquote('"\\eaee"');
$icon-cib-nextcloud: unquote('"\\eaef"');
$icon-cib-nextdoor: unquote('"\\eaf0"');
$icon-cib-nginx: unquote('"\\eaf1"');
$icon-cib-nim: unquote('"\\eaf2"');
$icon-cib-nintendo-3ds: unquote('"\\eaf3"');
$icon-cib-nintendo-gamecube: unquote('"\\eaf4"');
$icon-cib-nintendo-switch: unquote('"\\eaf5"');
$icon-cib-nintendo: unquote('"\\eaf6"');
$icon-cib-node-js: unquote('"\\eaf7"');
$icon-cib-node-red: unquote('"\\eaf8"');
$icon-cib-nodemon: unquote('"\\eaf9"');
$icon-cib-nokia: unquote('"\\eafa"');
$icon-cib-notion: unquote('"\\eafb"');
$icon-cib-npm: unquote('"\\eafc"');
$icon-cib-nucleo: unquote('"\\eafd"');
$icon-cib-nuget: unquote('"\\eafe"');
$icon-cib-nuxt-js: unquote('"\\eaff"');
$icon-cib-nvidia: unquote('"\\eb00"');
$icon-cib-ocaml: unquote('"\\eb01"');
$icon-cib-octave: unquote('"\\eb02"');
$icon-cib-octopus-deploy: unquote('"\\eb03"');
$icon-cib-oculus: unquote('"\\eb04"');
$icon-cib-odnoklassniki: unquote('"\\eb05"');
$icon-cib-open-access: unquote('"\\eb06"');
$icon-cib-open-collective: unquote('"\\eb07"');
$icon-cib-open-id: unquote('"\\eb08"');
$icon-cib-open-source-initiative: unquote('"\\eb09"');
$icon-cib-openstreetmap: unquote('"\\eb0a"');
$icon-cib-opensuse: unquote('"\\eb0b"');
$icon-cib-openvpn: unquote('"\\eb0c"');
$icon-cib-opera: unquote('"\\eb0d"');
$icon-cib-opsgenie: unquote('"\\eb0e"');
$icon-cib-oracle-netsuite-path1: unquote('"\\eb0f"');
$icon-cib-oracle-netsuite-path2: unquote('"\\eb10"');
$icon-cib-oracle-netsuite-path3: unquote('"\\eb11"');
$icon-cib-oracle-netsuite-path4: unquote('"\\eb12"');
$icon-cib-oracle-netsuite-path5: unquote('"\\eb13"');
$icon-cib-oracle-netsuite-path6: unquote('"\\eb14"');
$icon-cib-oracle-netsuite-path7: unquote('"\\eb15"');
$icon-cib-oracle-netsuite-path8: unquote('"\\eb16"');
$icon-cib-oracle-netsuite-path9: unquote('"\\eb17"');
$icon-cib-oracle: unquote('"\\eb18"');
$icon-cib-orcid: unquote('"\\eb19"');
$icon-cib-origin: unquote('"\\eb1a"');
$icon-cib-osi: unquote('"\\eb1b"');
$icon-cib-osmc: unquote('"\\eb1c"');
$icon-cib-overcast: unquote('"\\eb1d"');
$icon-cib-overleaf: unquote('"\\eb1e"');
$icon-cib-ovh: unquote('"\\eb1f"');
$icon-cib-pagekit: unquote('"\\eb20"');
$icon-cib-palantir: unquote('"\\eb21"');
$icon-cib-pandora: unquote('"\\eb22"');
$icon-cib-pantheon: unquote('"\\eb23"');
$icon-cib-patreon: unquote('"\\eb24"');
$icon-cib-paypal: unquote('"\\eb25"');
$icon-cib-periscope: unquote('"\\eb26"');
$icon-cib-php: unquote('"\\eb27"');
$icon-cib-picarto-tv: unquote('"\\eb28"');
$icon-cib-pinboard: unquote('"\\eb29"');
$icon-cib-pingdom: unquote('"\\eb2a"');
$icon-cib-pingup: unquote('"\\eb2b"');
$icon-cib-pinterest-p: unquote('"\\eb2c"');
$icon-cib-pinterest: unquote('"\\eb2d"');
$icon-cib-pivotaltracker: unquote('"\\eb2e"');
$icon-cib-plangrid: unquote('"\\eb2f"');
$icon-cib-player-me: unquote('"\\eb30"');
$icon-cib-playerfm: unquote('"\\eb31"');
$icon-cib-playstation: unquote('"\\eb32"');
$icon-cib-playstation3: unquote('"\\eb33"');
$icon-cib-playstation4: unquote('"\\eb34"');
$icon-cib-plesk: unquote('"\\eb35"');
$icon-cib-plex: unquote('"\\eb36"');
$icon-cib-pluralsight: unquote('"\\eb37"');
$icon-cib-plurk: unquote('"\\eb38"');
$icon-cib-pocket: unquote('"\\eb39"');
$icon-cib-postgresql: unquote('"\\eb3a"');
$icon-cib-postman: unquote('"\\eb3b"');
$icon-cib-postwoman: unquote('"\\eb3c"');
$icon-cib-powershell: unquote('"\\eb3d"');
$icon-cib-prettier: unquote('"\\eb3e"');
$icon-cib-prismic: unquote('"\\eb3f"');
$icon-cib-probot: unquote('"\\eb40"');
$icon-cib-processwire: unquote('"\\eb41"');
$icon-cib-product-hunt: unquote('"\\eb42"');
$icon-cib-proto-io: unquote('"\\eb43"');
$icon-cib-protonmail: unquote('"\\eb44"');
$icon-cib-proxmox: unquote('"\\eb45"');
$icon-cib-pypi: unquote('"\\eb46"');
$icon-cib-python: unquote('"\\eb47"');
$icon-cib-pytorch: unquote('"\\eb48"');
$icon-cib-qgis: unquote('"\\eb49"');
$icon-cib-qiita: unquote('"\\eb4a"');
$icon-cib-qq: unquote('"\\eb4b"');
$icon-cib-qualcomm: unquote('"\\eb4c"');
$icon-cib-quantcast: unquote('"\\eb4d"');
$icon-cib-quantopian: unquote('"\\eb4e"');
$icon-cib-quarkus: unquote('"\\eb4f"');
$icon-cib-quora: unquote('"\\eb50"');
$icon-cib-qwiklabs: unquote('"\\eb51"');
$icon-cib-qzone: unquote('"\\eb52"');
$icon-cib-r: unquote('"\\eb53"');
$icon-cib-radiopublic: unquote('"\\eb54"');
$icon-cib-rails: unquote('"\\eb55"');
$icon-cib-raspberry-pi: unquote('"\\eb56"');
$icon-cib-react: unquote('"\\eb57"');
$icon-cib-read-the-docs: unquote('"\\eb58"');
$icon-cib-readme: unquote('"\\eb59"');
$icon-cib-realm: unquote('"\\eb5a"');
$icon-cib-reason: unquote('"\\eb5b"');
$icon-cib-redbubble: unquote('"\\eb5c"');
$icon-cib-reddit-alt: unquote('"\\eb5d"');
$icon-cib-reddit: unquote('"\\eb5e"');
$icon-cib-redhat: unquote('"\\eb5f"');
$icon-cib-redis: unquote('"\\eb60"');
$icon-cib-redux: unquote('"\\eb61"');
$icon-cib-renren: unquote('"\\eb62"');
$icon-cib-reverbnation: unquote('"\\eb63"');
$icon-cib-riot: unquote('"\\eb64"');
$icon-cib-ripple: unquote('"\\eb65"');
$icon-cib-riseup: unquote('"\\eb66"');
$icon-cib-rollup-js: unquote('"\\eb67"');
$icon-cib-roots: unquote('"\\eb68"');
$icon-cib-roundcube: unquote('"\\eb69"');
$icon-cib-rss: unquote('"\\eb6a"');
$icon-cib-rstudio: unquote('"\\eb6b"');
$icon-cib-ruby: unquote('"\\eb6c"');
$icon-cib-rubygems: unquote('"\\eb6d"');
$icon-cib-runkeeper: unquote('"\\eb6e"');
$icon-cib-rust: unquote('"\\eb6f"');
$icon-cib-safari: unquote('"\\eb70"');
$icon-cib-sahibinden: unquote('"\\eb71"');
$icon-cib-salesforce: unquote('"\\eb72"');
$icon-cib-saltstack: unquote('"\\eb73"');
$icon-cib-samsung-pay: unquote('"\\eb74"');
$icon-cib-samsung: unquote('"\\eb75"');
$icon-cib-sap: unquote('"\\eb76"');
$icon-cib-sass-alt: unquote('"\\eb77"');
$icon-cib-sass: unquote('"\\eb78"');
$icon-cib-saucelabs: unquote('"\\eb79"');
$icon-cib-scala: unquote('"\\eb7a"');
$icon-cib-scaleway: unquote('"\\eb7b"');
$icon-cib-scribd: unquote('"\\eb7c"');
$icon-cib-scrutinizerci: unquote('"\\eb7d"');
$icon-cib-seagate: unquote('"\\eb7e"');
$icon-cib-sega: unquote('"\\eb7f"');
$icon-cib-sellfy: unquote('"\\eb80"');
$icon-cib-semaphoreci: unquote('"\\eb81"');
$icon-cib-sensu: unquote('"\\eb82"');
$icon-cib-sentry: unquote('"\\eb83"');
$icon-cib-server-fault: unquote('"\\eb84"');
$icon-cib-shazam: unquote('"\\eb85"');
$icon-cib-shell: unquote('"\\eb86"');
$icon-cib-shopify: unquote('"\\eb87"');
$icon-cib-showpad: unquote('"\\eb88"');
$icon-cib-siemens: unquote('"\\eb89"');
$icon-cib-signal: unquote('"\\eb8a"');
$icon-cib-sina-weibo: unquote('"\\eb8b"');
$icon-cib-sitepoint: unquote('"\\eb8c"');
$icon-cib-sketch: unquote('"\\eb8d"');
$icon-cib-skillshare: unquote('"\\eb8e"');
$icon-cib-skyliner: unquote('"\\eb8f"');
$icon-cib-skype: unquote('"\\eb90"');
$icon-cib-slack: unquote('"\\eb91"');
$icon-cib-slashdot: unquote('"\\eb92"');
$icon-cib-slickpic: unquote('"\\eb93"');
$icon-cib-slides: unquote('"\\eb94"');
$icon-cib-slideshare: unquote('"\\eb95"');
$icon-cib-smashingmagazine: unquote('"\\eb96"');
$icon-cib-snapchat: unquote('"\\eb97"');
$icon-cib-snapcraft: unquote('"\\eb98"');
$icon-cib-snyk: unquote('"\\eb99"');
$icon-cib-society6: unquote('"\\eb9a"');
$icon-cib-socket-io: unquote('"\\eb9b"');
$icon-cib-sogou: unquote('"\\eb9c"');
$icon-cib-solus: unquote('"\\eb9d"');
$icon-cib-songkick: unquote('"\\eb9e"');
$icon-cib-sonos: unquote('"\\eb9f"');
$icon-cib-soundcloud: unquote('"\\eba0"');
$icon-cib-sourceforge: unquote('"\\eba1"');
$icon-cib-sourcegraph: unquote('"\\eba2"');
$icon-cib-spacemacs: unquote('"\\eba3"');
$icon-cib-spacex: unquote('"\\eba4"');
$icon-cib-sparkfun: unquote('"\\eba5"');
$icon-cib-sparkpost: unquote('"\\eba6"');
$icon-cib-spdx: unquote('"\\eba7"');
$icon-cib-speaker-deck: unquote('"\\eba8"');
$icon-cib-spectrum: unquote('"\\eba9"');
$icon-cib-spotify: unquote('"\\ebaa"');
$icon-cib-spotlight: unquote('"\\ebab"');
$icon-cib-spreaker: unquote('"\\ebac"');
$icon-cib-spring: unquote('"\\ebad"');
$icon-cib-sprint: unquote('"\\ebae"');
$icon-cib-squarespace: unquote('"\\ebaf"');
$icon-cib-stackbit: unquote('"\\ebb0"');
$icon-cib-stackexchange: unquote('"\\ebb1"');
$icon-cib-stackoverflow: unquote('"\\ebb2"');
$icon-cib-stackpath: unquote('"\\ebb3"');
$icon-cib-stackshare: unquote('"\\ebb4"');
$icon-cib-stadia: unquote('"\\ebb5"');
$icon-cib-statamic: unquote('"\\ebb6"');
$icon-cib-staticman: unquote('"\\ebb7"');
$icon-cib-statuspage: unquote('"\\ebb8"');
$icon-cib-steam: unquote('"\\ebb9"');
$icon-cib-steem: unquote('"\\ebba"');
$icon-cib-steemit: unquote('"\\ebbb"');
$icon-cib-stitcher: unquote('"\\ebbc"');
$icon-cib-storify: unquote('"\\ebbd"');
$icon-cib-storybook: unquote('"\\ebbe"');
$icon-cib-strapi: unquote('"\\ebbf"');
$icon-cib-strava: unquote('"\\ebc0"');
$icon-cib-stripe-s: unquote('"\\ebc1"');
$icon-cib-stripe: unquote('"\\ebc2"');
$icon-cib-stubhub: unquote('"\\ebc3"');
$icon-cib-stumbleupon: unquote('"\\ebc4"');
$icon-cib-styleshare: unquote('"\\ebc5"');
$icon-cib-stylus: unquote('"\\ebc6"');
$icon-cib-sublime-text: unquote('"\\ebc7"');
$icon-cib-subversion: unquote('"\\ebc8"');
$icon-cib-superuser: unquote('"\\ebc9"');
$icon-cib-svelte: unquote('"\\ebca"');
$icon-cib-svg: unquote('"\\ebcb"');
$icon-cib-swagger: unquote('"\\ebcc"');
$icon-cib-swarm: unquote('"\\ebcd"');
$icon-cib-swift: unquote('"\\ebce"');
$icon-cib-symantec: unquote('"\\ebcf"');
$icon-cib-symfony: unquote('"\\ebd0"');
$icon-cib-synology: unquote('"\\ebd1"');
$icon-cib-t-mobile: unquote('"\\ebd2"');
$icon-cib-tableau: unquote('"\\ebd3"');
$icon-cib-tails: unquote('"\\ebd4"');
$icon-cib-tapas: unquote('"\\ebd5"');
$icon-cib-teamviewer: unquote('"\\ebd6"');
$icon-cib-ted: unquote('"\\ebd7"');
$icon-cib-teespring: unquote('"\\ebd8"');
$icon-cib-telegram-plane: unquote('"\\ebd9"');
$icon-cib-telegram: unquote('"\\ebda"');
$icon-cib-tencent-qq: unquote('"\\ebdb"');
$icon-cib-tencent-weibo: unquote('"\\ebdc"');
$icon-cib-tensorflow: unquote('"\\ebdd"');
$icon-cib-terraform: unquote('"\\ebde"');
$icon-cib-tesla: unquote('"\\ebdf"');
$icon-cib-the-mighty: unquote('"\\ebe0"');
$icon-cib-the-movie-database: unquote('"\\ebe1"');
$icon-cib-tidal: unquote('"\\ebe2"');
$icon-cib-tiktok: unquote('"\\ebe3"');
$icon-cib-tinder: unquote('"\\ebe4"');
$icon-cib-todoist: unquote('"\\ebe5"');
$icon-cib-toggl: unquote('"\\ebe6"');
$icon-cib-topcoder: unquote('"\\ebe7"');
$icon-cib-toptal: unquote('"\\ebe8"');
$icon-cib-tor: unquote('"\\ebe9"');
$icon-cib-toshiba: unquote('"\\ebea"');
$icon-cib-trainerroad: unquote('"\\ebeb"');
$icon-cib-trakt: unquote('"\\ebec"');
$icon-cib-travisci: unquote('"\\ebed"');
$icon-cib-treehouse: unquote('"\\ebee"');
$icon-cib-trello: unquote('"\\ebef"');
$icon-cib-tripadvisor: unquote('"\\ebf0"');
$icon-cib-trulia: unquote('"\\ebf1"');
$icon-cib-tumblr: unquote('"\\ebf2"');
$icon-cib-twilio: unquote('"\\ebf3"');
$icon-cib-twitch: unquote('"\\ebf4"');
$icon-cib-twitter: unquote('"\\ebf5"');
$icon-cib-twoo: unquote('"\\ebf6"');
$icon-cib-typescript: unquote('"\\ebf7"');
$icon-cib-typo3: unquote('"\\ebf8"');
$icon-cib-uber: unquote('"\\ebf9"');
$icon-cib-ubisoft: unquote('"\\ebfa"');
$icon-cib-ublock-origin: unquote('"\\ebfb"');
$icon-cib-ubuntu: unquote('"\\ebfc"');
$icon-cib-udacity: unquote('"\\ebfd"');
$icon-cib-udemy: unquote('"\\ebfe"');
$icon-cib-uikit: unquote('"\\ebff"');
$icon-cib-umbraco: unquote('"\\ec00"');
$icon-cib-unity: unquote('"\\ec01"');
$icon-cib-unreal-engine: unquote('"\\ec02"');
$icon-cib-unsplash: unquote('"\\ec03"');
$icon-cib-untappd: unquote('"\\ec04"');
$icon-cib-upwork: unquote('"\\ec05"');
$icon-cib-usb: unquote('"\\ec06"');
$icon-cib-v8: unquote('"\\ec07"');
$icon-cib-vagrant: unquote('"\\ec08"');
$icon-cib-venmo: unquote('"\\ec09"');
$icon-cib-verizon: unquote('"\\ec0a"');
$icon-cib-viadeo: unquote('"\\ec0b"');
$icon-cib-viber: unquote('"\\ec0c"');
$icon-cib-vim: unquote('"\\ec0d"');
$icon-cib-vimeo-v: unquote('"\\ec0e"');
$icon-cib-vimeo: unquote('"\\ec0f"');
$icon-cib-vine: unquote('"\\ec10"');
$icon-cib-virb: unquote('"\\ec11"');
$icon-cib-visa: unquote('"\\ec12"');
$icon-cib-visual-studio-code: unquote('"\\ec13"');
$icon-cib-visual-studio: unquote('"\\ec14"');
$icon-cib-vk: unquote('"\\ec15"');
$icon-cib-vlc: unquote('"\\ec16"');
$icon-cib-vsco: unquote('"\\ec17"');
$icon-cib-vue-js: unquote('"\\ec18"');
$icon-cib-wattpad: unquote('"\\ec19"');
$icon-cib-weasyl: unquote('"\\ec1a"');
$icon-cib-webcomponents-org: unquote('"\\ec1b"');
$icon-cib-webpack: unquote('"\\ec1c"');
$icon-cib-webstorm: unquote('"\\ec1d"');
$icon-cib-wechat: unquote('"\\ec1e"');
$icon-cib-whatsapp: unquote('"\\ec1f"');
$icon-cib-when-i-work: unquote('"\\ec20"');
$icon-cib-wii: unquote('"\\ec21"');
$icon-cib-wiiu: unquote('"\\ec22"');
$icon-cib-wikipedia: unquote('"\\ec23"');
$icon-cib-windows: unquote('"\\ec24"');
$icon-cib-wire: unquote('"\\ec25"');
$icon-cib-wireguard: unquote('"\\ec26"');
$icon-cib-wix: unquote('"\\ec27"');
$icon-cib-wolfram-language: unquote('"\\ec28"');
$icon-cib-wolfram-mathematica: unquote('"\\ec29"');
$icon-cib-wolfram: unquote('"\\ec2a"');
$icon-cib-wordpress: unquote('"\\ec2b"');
$icon-cib-wpengine: unquote('"\\ec2c"');
$icon-cib-x-pack: unquote('"\\ec2d"');
$icon-cib-xbox: unquote('"\\ec2e"');
$icon-cib-xcode: unquote('"\\ec2f"');
$icon-cib-xero: unquote('"\\ec30"');
$icon-cib-xiaomi: unquote('"\\ec31"');
$icon-cib-xing: unquote('"\\ec32"');
$icon-cib-xrp: unquote('"\\ec33"');
$icon-cib-xsplit: unquote('"\\ec34"');
$icon-cib-y-combinator: unquote('"\\ec35"');
$icon-cib-yahoo: unquote('"\\ec36"');
$icon-cib-yammer: unquote('"\\ec37"');
$icon-cib-yandex: unquote('"\\ec38"');
$icon-cib-yarn: unquote('"\\ec39"');
$icon-cib-yelp: unquote('"\\ec3a"');
$icon-cib-youtube: unquote('"\\ec3b"');
$icon-cib-zalando: unquote('"\\ec3c"');
$icon-cib-zapier: unquote('"\\ec3d"');
$icon-cib-zeit: unquote('"\\ec3e"');
$icon-cib-zendesk: unquote('"\\ec3f"');
$icon-cib-zerply: unquote('"\\ec40"');
$icon-cib-zillow: unquote('"\\ec41"');
$icon-cib-zingat: unquote('"\\ec42"');
$icon-cib-zoom: unquote('"\\ec43"');
$icon-cib-zorin: unquote('"\\ec44"');
$icon-cib-zulip: unquote('"\\ec45"');
$icon-cil-3d: unquote('"\\ec46"');
$icon-cil-4k: unquote('"\\ec47"');
$icon-cil-account-logout: unquote('"\\ec48"');
$icon-cil-action-undo: unquote('"\\ec49"');
$icon-cil-action-redo: unquote('"\\ec4a"');
$icon-cil-address-book: unquote('"\\ec4b"');
$icon-cil-airplane-mode-off: unquote('"\\ec4c"');
$icon-cil-airplane-mode: unquote('"\\ec4d"');
$icon-cil-airplay: unquote('"\\ec4e"');
$icon-cil-alarm: unquote('"\\ec4f"');
$icon-cil-album: unquote('"\\ec50"');
$icon-cil-align-center: unquote('"\\ec51"');
$icon-cil-align-left: unquote('"\\ec52"');
$icon-cil-align-right: unquote('"\\ec53"');
$icon-cil-american-football: unquote('"\\ec54"');
$icon-cil-animal: unquote('"\\ec55"');
$icon-cil-aperture: unquote('"\\ec56"');
$icon-cil-apple: unquote('"\\ec57"');
$icon-cil-applications-settings: unquote('"\\ec58"');
$icon-cil-applications: unquote('"\\ec59"');
$icon-cil-apps-settings: unquote('"\\ec5a"');
$icon-cil-apps: unquote('"\\ec5b"');
$icon-cil-arrow-bottom: unquote('"\\ec5c"');
$icon-cil-arrow-circle-bottom: unquote('"\\ec5d"');
$icon-cil-arrow-circle-left: unquote('"\\ec5e"');
$icon-cil-arrow-circle-right: unquote('"\\ec5f"');
$icon-cil-arrow-circle-top: unquote('"\\ec60"');
$icon-cil-arrow-left: unquote('"\\ec61"');
$icon-cil-arrow-right: unquote('"\\ec62"');
$icon-cil-arrow-thick-bottom: unquote('"\\ec63"');
$icon-cil-arrow-thick-from-bottom: unquote('"\\ec64"');
$icon-cil-arrow-thick-from-left: unquote('"\\ec65"');
$icon-cil-arrow-thick-from-right: unquote('"\\ec66"');
$icon-cil-arrow-thick-from-top: unquote('"\\ec67"');
$icon-cil-arrow-thick-left: unquote('"\\ec68"');
$icon-cil-arrow-thick-right: unquote('"\\ec69"');
$icon-cil-arrow-thick-to-bottom: unquote('"\\ec6a"');
$icon-cil-arrow-thick-to-left: unquote('"\\ec6b"');
$icon-cil-arrow-thick-to-right: unquote('"\\ec6c"');
$icon-cil-arrow-thick-to-top: unquote('"\\ec6d"');
$icon-cil-arrow-thick-top: unquote('"\\ec6e"');
$icon-cil-arrow-top: unquote('"\\ec6f"');
$icon-cil-assistive-listening-system: unquote('"\\ec70"');
$icon-cil-asterisk-circle: unquote('"\\ec71"');
$icon-cil-asterisk: unquote('"\\ec72"');
$icon-cil-at: unquote('"\\ec73"');
$icon-cil-audio-description: unquote('"\\ec74"');
$icon-cil-audio-spectrum: unquote('"\\ec75"');
$icon-cil-audio: unquote('"\\ec76"');
$icon-cil-av-timer: unquote('"\\ec77"');
$icon-cil-baby-carriage: unquote('"\\ec78"');
$icon-cil-baby: unquote('"\\ec79"');
$icon-cil-backspace: unquote('"\\ec7a"');
$icon-cil-badge: unquote('"\\ec7b"');
$icon-cil-balance-scale: unquote('"\\ec7c"');
$icon-cil-ban: unquote('"\\ec7d"');
$icon-cil-bank: unquote('"\\ec7e"');
$icon-cil-bar-chart: unquote('"\\ec7f"');
$icon-cil-barcode: unquote('"\\ec80"');
$icon-cil-baseball: unquote('"\\ec81"');
$icon-cil-basket: unquote('"\\ec82"');
$icon-cil-basketball: unquote('"\\ec83"');
$icon-cil-bath: unquote('"\\ec84"');
$icon-cil-bathroom: unquote('"\\ec85"');
$icon-cil-battery-0: unquote('"\\ec86"');
$icon-cil-battery-3: unquote('"\\ec87"');
$icon-cil-battery-5: unquote('"\\ec88"');
$icon-cil-battery-alert: unquote('"\\ec89"');
$icon-cil-battery-empty: unquote('"\\ec8a"');
$icon-cil-battery-full: unquote('"\\ec8b"');
$icon-cil-battery-slash: unquote('"\\ec8c"');
$icon-cil-beach-access: unquote('"\\ec8d"');
$icon-cil-beaker: unquote('"\\ec8e"');
$icon-cil-bed: unquote('"\\ec8f"');
$icon-cil-bell-exclamation: unquote('"\\ec90"');
$icon-cil-bell: unquote('"\\ec91"');
$icon-cil-bike: unquote('"\\ec92"');
$icon-cil-birthday-cake: unquote('"\\ec93"');
$icon-cil-blind: unquote('"\\ec94"');
$icon-cil-bluetooth: unquote('"\\ec95"');
$icon-cil-blur-circular: unquote('"\\ec96"');
$icon-cil-blur-linear: unquote('"\\ec97"');
$icon-cil-blur: unquote('"\\ec98"');
$icon-cil-boat-alt: unquote('"\\ec99"');
$icon-cil-bold: unquote('"\\ec9a"');
$icon-cil-bolt-circle: unquote('"\\ec9b"');
$icon-cil-bolt: unquote('"\\ec9c"');
$icon-cil-book: unquote('"\\ec9d"');
$icon-cil-bookmark: unquote('"\\ec9e"');
$icon-cil-border-all: unquote('"\\ec9f"');
$icon-cil-border-bottom: unquote('"\\eca0"');
$icon-cil-border-clear: unquote('"\\eca1"');
$icon-cil-border-horizontal: unquote('"\\eca2"');
$icon-cil-border-inner: unquote('"\\eca3"');
$icon-cil-border-left: unquote('"\\eca4"');
$icon-cil-border-outer: unquote('"\\eca5"');
$icon-cil-border-right: unquote('"\\eca6"');
$icon-cil-border-style: unquote('"\\eca7"');
$icon-cil-border-top: unquote('"\\eca8"');
$icon-cil-border-vertical: unquote('"\\eca9"');
$icon-cil-bowling: unquote('"\\ecaa"');
$icon-cil-braille: unquote('"\\ecab"');
$icon-cil-briefcase: unquote('"\\ecac"');
$icon-cil-brightness: unquote('"\\ecad"');
$icon-cil-british-pound: unquote('"\\ecae"');
$icon-cil-browser: unquote('"\\ecaf"');
$icon-cil-brush-alt: unquote('"\\ecb0"');
$icon-cil-brush: unquote('"\\ecb1"');
$icon-cil-bug: unquote('"\\ecb2"');
$icon-cil-building: unquote('"\\ecb3"');
$icon-cil-bullhorn: unquote('"\\ecb4"');
$icon-cil-burger: unquote('"\\ecb5"');
$icon-cil-burn: unquote('"\\ecb6"');
$icon-cil-bus-alt: unquote('"\\ecb7"');
$icon-cil-calculator: unquote('"\\ecb8"');
$icon-cil-calendar-check: unquote('"\\ecb9"');
$icon-cil-calendar: unquote('"\\ecba"');
$icon-cil-camera-control: unquote('"\\ecbb"');
$icon-cil-camera-roll: unquote('"\\ecbc"');
$icon-cil-camera: unquote('"\\ecbd"');
$icon-cil-car-alt: unquote('"\\ecbe"');
$icon-cil-caret-bottom: unquote('"\\ecbf"');
$icon-cil-caret-left: unquote('"\\ecc0"');
$icon-cil-caret-right: unquote('"\\ecc1"');
$icon-cil-caret-top: unquote('"\\ecc2"');
$icon-cil-cart: unquote('"\\ecc3"');
$icon-cil-cash: unquote('"\\ecc4"');
$icon-cil-casino: unquote('"\\ecc5"');
$icon-cil-cast: unquote('"\\ecc6"');
$icon-cil-cat: unquote('"\\ecc7"');
$icon-cil-cc: unquote('"\\ecc8"');
$icon-cil-center-focus: unquote('"\\ecc9"');
$icon-cil-chart-line: unquote('"\\ecca"');
$icon-cil-chart-pie: unquote('"\\eccb"');
$icon-cil-chart: unquote('"\\eccc"');
$icon-cil-chat-bubble: unquote('"\\eccd"');
$icon-cil-check-alt: unquote('"\\ecce"');
$icon-cil-check-circle: unquote('"\\eccf"');
$icon-cil-check: unquote('"\\ecd0"');
$icon-cil-chevron-bottom: unquote('"\\ecd1"');
$icon-cil-chevron-circle-down-alt: unquote('"\\ecd2"');
$icon-cil-chevron-circle-left-alt: unquote('"\\ecd3"');
$icon-cil-chevron-circle-right-alt: unquote('"\\ecd4"');
$icon-cil-chevron-circle-up-alt: unquote('"\\ecd5"');
$icon-cil-chevron-double-down: unquote('"\\ecd6"');
$icon-cil-chevron-double-left: unquote('"\\ecd7"');
$icon-cil-chevron-double-right: unquote('"\\ecd8"');
$icon-cil-chevron-double-up: unquote('"\\ecd9"');
$icon-cil-chevron-left: unquote('"\\ecda"');
$icon-cil-chevron-right: unquote('"\\ecdb"');
$icon-cil-chevron-top: unquote('"\\ecdc"');
$icon-cil-child-friendly: unquote('"\\ecdd"');
$icon-cil-child: unquote('"\\ecde"');
$icon-cil-circle: unquote('"\\ecdf"');
$icon-cil-clear-all: unquote('"\\ece0"');
$icon-cil-clipboard: unquote('"\\ece1"');
$icon-cil-clock: unquote('"\\ece2"');
$icon-cil-clone: unquote('"\\ece3"');
$icon-cil-closed-captioning: unquote('"\\ece4"');
$icon-cil-cloud-download: unquote('"\\ece5"');
$icon-cil-cloud-upload: unquote('"\\ece6"');
$icon-cil-cloud: unquote('"\\ece7"');
$icon-cil-cloudy: unquote('"\\ece8"');
$icon-cil-code: unquote('"\\ece9"');
$icon-cil-coffee: unquote('"\\ecea"');
$icon-cil-cog: unquote('"\\eceb"');
$icon-cil-color-border: unquote('"\\ecec"');
$icon-cil-color-fill: unquote('"\\eced"');
$icon-cil-color-palette: unquote('"\\ecee"');
$icon-cil-columns: unquote('"\\ecef"');
$icon-cil-command: unquote('"\\ecf0"');
$icon-cil-comment-bubble: unquote('"\\ecf1"');
$icon-cil-comment-square: unquote('"\\ecf2"');
$icon-cil-compass: unquote('"\\ecf3"');
$icon-cil-compress: unquote('"\\ecf4"');
$icon-cil-contact: unquote('"\\ecf5"');
$icon-cil-contrast: unquote('"\\ecf6"');
$icon-cil-control: unquote('"\\ecf7"');
$icon-cil-copy: unquote('"\\ecf8"');
$icon-cil-couch: unquote('"\\ecf9"');
$icon-cil-credit-card: unquote('"\\ecfa"');
$icon-cil-crop-rotate: unquote('"\\ecfb"');
$icon-cil-crop: unquote('"\\ecfc"');
$icon-cil-cursor-move: unquote('"\\ecfd"');
$icon-cil-cursor: unquote('"\\ecfe"');
$icon-cil-cut: unquote('"\\ecff"');
$icon-cil-data-transfer-down: unquote('"\\ed00"');
$icon-cil-data-transfer-up: unquote('"\\ed01"');
$icon-cil-deaf: unquote('"\\ed02"');
$icon-cil-delete: unquote('"\\ed03"');
$icon-cil-description: unquote('"\\ed04"');
$icon-cil-devices: unquote('"\\ed05"');
$icon-cil-dialpad: unquote('"\\ed06"');
$icon-cil-diamond: unquote('"\\ed07"');
$icon-cil-dinner: unquote('"\\ed08"');
$icon-cil-disabled: unquote('"\\ed09"');
$icon-cil-dog: unquote('"\\ed0a"');
$icon-cil-dollar: unquote('"\\ed0b"');
$icon-cil-door: unquote('"\\ed0c"');
$icon-cil-double-quote-sans-left: unquote('"\\ed0d"');
$icon-cil-double-quote-sans-right: unquote('"\\ed0e"');
$icon-cil-drink-alcohol: unquote('"\\ed0f"');
$icon-cil-drink: unquote('"\\ed10"');
$icon-cil-drop: unquote('"\\ed11"');
$icon-cil-eco: unquote('"\\ed12"');
$icon-cil-education: unquote('"\\ed13"');
$icon-cil-elevator: unquote('"\\ed14"');
$icon-cil-envelope-closed: unquote('"\\ed15"');
$icon-cil-envelope-letter: unquote('"\\ed16"');
$icon-cil-envelope-open: unquote('"\\ed17"');
$icon-cil-equalizer: unquote('"\\ed18"');
$icon-cil-ethernet: unquote('"\\ed19"');
$icon-cil-euro: unquote('"\\ed1a"');
$icon-cil-excerpt: unquote('"\\ed1b"');
$icon-cil-exit-to-app: unquote('"\\ed1c"');
$icon-cil-expand-down: unquote('"\\ed1d"');
$icon-cil-expand-left: unquote('"\\ed1e"');
$icon-cil-expand-right: unquote('"\\ed1f"');
$icon-cil-expand-up: unquote('"\\ed20"');
$icon-cil-exposure: unquote('"\\ed21"');
$icon-cil-external-link: unquote('"\\ed22"');
$icon-cil-eyedropper: unquote('"\\ed23"');
$icon-cil-face-dead: unquote('"\\ed24"');
$icon-cil-face: unquote('"\\ed25"');
$icon-cil-factory-slash: unquote('"\\ed26"');
$icon-cil-factory: unquote('"\\ed27"');
$icon-cil-fastfood: unquote('"\\ed28"');
$icon-cil-fax: unquote('"\\ed29"');
$icon-cil-featured-playlist: unquote('"\\ed2a"');
$icon-cil-file: unquote('"\\ed2b"');
$icon-cil-filter-frames: unquote('"\\ed2c"');
$icon-cil-filter-photo: unquote('"\\ed2d"');
$icon-cil-filter-square: unquote('"\\ed2e"');
$icon-cil-filter-x: unquote('"\\ed2f"');
$icon-cil-filter: unquote('"\\ed30"');
$icon-cil-find-in-page: unquote('"\\ed31"');
$icon-cil-fingerprint: unquote('"\\ed32"');
$icon-cil-fire: unquote('"\\ed33"');
$icon-cil-flag-alt: unquote('"\\ed34"');
$icon-cil-flight-takeoff: unquote('"\\ed35"');
$icon-cil-flip-to-back: unquote('"\\ed36"');
$icon-cil-flip-to-front: unquote('"\\ed37"');
$icon-cil-flip: unquote('"\\ed38"');
$icon-cil-flower: unquote('"\\ed39"');
$icon-cil-folder-open: unquote('"\\ed3a"');
$icon-cil-folder: unquote('"\\ed3b"');
$icon-cil-font: unquote('"\\ed3c"');
$icon-cil-football: unquote('"\\ed3d"');
$icon-cil-fork: unquote('"\\ed3e"');
$icon-cil-fridge: unquote('"\\ed3f"');
$icon-cil-frown: unquote('"\\ed40"');
$icon-cil-fullscreen-exit: unquote('"\\ed41"');
$icon-cil-fullscreen: unquote('"\\ed42"');
$icon-cil-functions-alt: unquote('"\\ed43"');
$icon-cil-functions: unquote('"\\ed44"');
$icon-cil-gamepad: unquote('"\\ed45"');
$icon-cil-garage: unquote('"\\ed46"');
$icon-cil-gem: unquote('"\\ed47"');
$icon-cil-gif: unquote('"\\ed48"');
$icon-cil-gift: unquote('"\\ed49"');
$icon-cil-globe-alt: unquote('"\\ed4a"');
$icon-cil-golf-alt: unquote('"\\ed4b"');
$icon-cil-golf: unquote('"\\ed4c"');
$icon-cil-gradient: unquote('"\\ed4d"');
$icon-cil-grain: unquote('"\\ed4e"');
$icon-cil-graph: unquote('"\\ed4f"');
$icon-cil-grid-slash: unquote('"\\ed50"');
$icon-cil-grid: unquote('"\\ed51"');
$icon-cil-group: unquote('"\\ed52"');
$icon-cil-hamburger-menu: unquote('"\\ed53"');
$icon-cil-hand-point-down: unquote('"\\ed54"');
$icon-cil-hand-point-left: unquote('"\\ed55"');
$icon-cil-hand-point-right: unquote('"\\ed56"');
$icon-cil-hand-point-up: unquote('"\\ed57"');
$icon-cil-handshake: unquote('"\\ed58"');
$icon-cil-happy: unquote('"\\ed59"');
$icon-cil-hd: unquote('"\\ed5a"');
$icon-cil-hdr: unquote('"\\ed5b"');
$icon-cil-header: unquote('"\\ed5c"');
$icon-cil-headphones: unquote('"\\ed5d"');
$icon-cil-healing: unquote('"\\ed5e"');
$icon-cil-heart: unquote('"\\ed5f"');
$icon-cil-highlighter: unquote('"\\ed60"');
$icon-cil-highligt: unquote('"\\ed61"');
$icon-cil-history: unquote('"\\ed62"');
$icon-cil-home: unquote('"\\ed63"');
$icon-cil-hospital: unquote('"\\ed64"');
$icon-cil-hot-tub: unquote('"\\ed65"');
$icon-cil-house: unquote('"\\ed66"');
$icon-cil-https: unquote('"\\ed67"');
$icon-cil-image-broken: unquote('"\\ed68"');
$icon-cil-image-plus: unquote('"\\ed69"');
$icon-cil-image: unquote('"\\ed6a"');
$icon-cil-inbox: unquote('"\\ed6b"');
$icon-cil-indent-decrease: unquote('"\\ed6c"');
$icon-cil-indent-increase: unquote('"\\ed6d"');
$icon-cil-industry-slash: unquote('"\\ed6e"');
$icon-cil-industry: unquote('"\\ed6f"');
$icon-cil-infinity: unquote('"\\ed70"');
$icon-cil-info: unquote('"\\ed71"');
$icon-cil-input-hdmi: unquote('"\\ed72"');
$icon-cil-input-power: unquote('"\\ed73"');
$icon-cil-input: unquote('"\\ed74"');
$icon-cil-institution: unquote('"\\ed75"');
$icon-cil-italic: unquote('"\\ed76"');
$icon-cil-justify-center: unquote('"\\ed77"');
$icon-cil-justify-left: unquote('"\\ed78"');
$icon-cil-justify-right: unquote('"\\ed79"');
$icon-cil-keyboard: unquote('"\\ed7a"');
$icon-cil-lan: unquote('"\\ed7b"');
$icon-cil-language: unquote('"\\ed7c"');
$icon-cil-laptop: unquote('"\\ed7d"');
$icon-cil-layers: unquote('"\\ed7e"');
$icon-cil-leaf: unquote('"\\ed7f"');
$icon-cil-lemon: unquote('"\\ed80"');
$icon-cil-level-down: unquote('"\\ed81"');
$icon-cil-level-up: unquote('"\\ed82"');
$icon-cil-library-add: unquote('"\\ed83"');
$icon-cil-library-building: unquote('"\\ed84"');
$icon-cil-library: unquote('"\\ed85"');
$icon-cil-life-ring: unquote('"\\ed86"');
$icon-cil-lightbulb: unquote('"\\ed87"');
$icon-cil-line-spacing: unquote('"\\ed88"');
$icon-cil-line-style: unquote('"\\ed89"');
$icon-cil-line-weight: unquote('"\\ed8a"');
$icon-cil-link-alt: unquote('"\\ed8b"');
$icon-cil-link-broken: unquote('"\\ed8c"');
$icon-cil-link: unquote('"\\ed8d"');
$icon-cil-list-filter: unquote('"\\ed8e"');
$icon-cil-list-high-priority: unquote('"\\ed8f"');
$icon-cil-list-low-priority: unquote('"\\ed90"');
$icon-cil-list-numbered-rtl: unquote('"\\ed91"');
$icon-cil-list-numbered: unquote('"\\ed92"');
$icon-cil-list-rich: unquote('"\\ed93"');
$icon-cil-list: unquote('"\\ed94"');
$icon-cil-location-pin: unquote('"\\ed95"');
$icon-cil-lock-locked: unquote('"\\ed96"');
$icon-cil-lock-unlocked: unquote('"\\ed97"');
$icon-cil-locomotive: unquote('"\\ed98"');
$icon-cil-loop-1: unquote('"\\ed99"');
$icon-cil-loop-circular: unquote('"\\ed9a"');
$icon-cil-loop: unquote('"\\ed9b"');
$icon-cil-low-vision: unquote('"\\ed9c"');
$icon-cil-magnifying-glass: unquote('"\\ed9d"');
$icon-cil-map: unquote('"\\ed9e"');
$icon-cil-media-eject: unquote('"\\ed9f"');
$icon-cil-media-pause: unquote('"\\eda0"');
$icon-cil-media-play: unquote('"\\eda1"');
$icon-cil-media-record: unquote('"\\eda2"');
$icon-cil-media-skip-backward: unquote('"\\eda3"');
$icon-cil-media-skip-forward: unquote('"\\eda4"');
$icon-cil-media-step-backward: unquote('"\\eda5"');
$icon-cil-media-step-forward: unquote('"\\eda6"');
$icon-cil-media-stop: unquote('"\\eda7"');
$icon-cil-medical-cross: unquote('"\\eda8"');
$icon-cil-meh: unquote('"\\eda9"');
$icon-cil-memory: unquote('"\\edaa"');
$icon-cil-menu: unquote('"\\edab"');
$icon-cil-mic: unquote('"\\edac"');
$icon-cil-microphone: unquote('"\\edad"');
$icon-cil-minus: unquote('"\\edae"');
$icon-cil-mobile-landscape: unquote('"\\edaf"');
$icon-cil-mobile: unquote('"\\edb0"');
$icon-cil-money: unquote('"\\edb1"');
$icon-cil-monitor: unquote('"\\edb2"');
$icon-cil-mood-bad: unquote('"\\edb3"');
$icon-cil-mood-good: unquote('"\\edb4"');
$icon-cil-mood-very-bad: unquote('"\\edb5"');
$icon-cil-mood-very-good: unquote('"\\edb6"');
$icon-cil-moon: unquote('"\\edb7"');
$icon-cil-mouse: unquote('"\\edb8"');
$icon-cil-mouth-slash: unquote('"\\edb9"');
$icon-cil-move: unquote('"\\edba"');
$icon-cil-movie: unquote('"\\edbb"');
$icon-cil-mug-tea: unquote('"\\edbc"');
$icon-cil-mug: unquote('"\\edbd"');
$icon-cil-music-note: unquote('"\\edbe"');
$icon-cil-newspaper: unquote('"\\edbf"');
$icon-cil-note-add: unquote('"\\edc0"');
$icon-cil-notes: unquote('"\\edc1"');
$icon-cil-object-group: unquote('"\\edc2"');
$icon-cil-object-ungroup: unquote('"\\edc3"');
$icon-cil-opacity: unquote('"\\edc4"');
$icon-cil-opentype: unquote('"\\edc5"');
$icon-cil-options: unquote('"\\edc6"');
$icon-cil-paint-bucket: unquote('"\\edc7"');
$icon-cil-paint: unquote('"\\edc8"');
$icon-cil-paper-plane: unquote('"\\edc9"');
$icon-cil-paperclip: unquote('"\\edca"');
$icon-cil-paragraph: unquote('"\\edcb"');
$icon-cil-paw: unquote('"\\edcc"');
$icon-cil-pen-alt: unquote('"\\edcd"');
$icon-cil-pen-nib: unquote('"\\edce"');
$icon-cil-pen: unquote('"\\edcf"');
$icon-cil-pencil: unquote('"\\edd0"');
$icon-cil-people: unquote('"\\edd1"');
$icon-cil-phone: unquote('"\\edd2"');
$icon-cil-pin: unquote('"\\edd3"');
$icon-cil-pizza: unquote('"\\edd4"');
$icon-cil-plant: unquote('"\\edd5"');
$icon-cil-playlist-add: unquote('"\\edd6"');
$icon-cil-plus: unquote('"\\edd7"');
$icon-cil-pool: unquote('"\\edd8"');
$icon-cil-power-standby: unquote('"\\edd9"');
$icon-cil-pregnant: unquote('"\\edda"');
$icon-cil-print: unquote('"\\eddb"');
$icon-cil-pushchair: unquote('"\\eddc"');
$icon-cil-puzzle: unquote('"\\eddd"');
$icon-cil-qr-code: unquote('"\\edde"');
$icon-cil-rain: unquote('"\\eddf"');
$icon-cil-rectangle: unquote('"\\ede0"');
$icon-cil-recycle: unquote('"\\ede1"');
$icon-cil-reload: unquote('"\\ede2"');
$icon-cil-report-slash: unquote('"\\ede3"');
$icon-cil-resize-both: unquote('"\\ede4"');
$icon-cil-resize-height: unquote('"\\ede5"');
$icon-cil-resize-width: unquote('"\\ede6"');
$icon-cil-restaurant: unquote('"\\ede7"');
$icon-cil-room: unquote('"\\ede8"');
$icon-cil-router: unquote('"\\ede9"');
$icon-cil-rowing: unquote('"\\edea"');
$icon-cil-rss: unquote('"\\edeb"');
$icon-cil-ruble: unquote('"\\edec"');
$icon-cil-running: unquote('"\\eded"');
$icon-cil-sad: unquote('"\\edee"');
$icon-cil-satelite: unquote('"\\edef"');
$icon-cil-save: unquote('"\\edf0"');
$icon-cil-school: unquote('"\\edf1"');
$icon-cil-screen-desktop: unquote('"\\edf2"');
$icon-cil-screen-smartphone: unquote('"\\edf3"');
$icon-cil-scrubber: unquote('"\\edf4"');
$icon-cil-search: unquote('"\\edf5"');
$icon-cil-send: unquote('"\\edf6"');
$icon-cil-settings: unquote('"\\edf7"');
$icon-cil-share-all: unquote('"\\edf8"');
$icon-cil-share-alt: unquote('"\\edf9"');
$icon-cil-share-boxed: unquote('"\\edfa"');
$icon-cil-share: unquote('"\\edfb"');
$icon-cil-shield-alt: unquote('"\\edfc"');
$icon-cil-short-text: unquote('"\\edfd"');
$icon-cil-shower: unquote('"\\edfe"');
$icon-cil-sign-language: unquote('"\\edff"');
$icon-cil-signal-cellular-0: unquote('"\\ee00"');
$icon-cil-signal-cellular-3: unquote('"\\ee01"');
$icon-cil-signal-cellular-4: unquote('"\\ee02"');
$icon-cil-sim: unquote('"\\ee03"');
$icon-cil-sitemap: unquote('"\\ee04"');
$icon-cil-smile-plus: unquote('"\\ee05"');
$icon-cil-smile: unquote('"\\ee06"');
$icon-cil-smoke-free: unquote('"\\ee07"');
$icon-cil-smoke-slash: unquote('"\\ee08"');
$icon-cil-smoke: unquote('"\\ee09"');
$icon-cil-smoking-room: unquote('"\\ee0a"');
$icon-cil-snowflake: unquote('"\\ee0b"');
$icon-cil-soccer: unquote('"\\ee0c"');
$icon-cil-sofa: unquote('"\\ee0d"');
$icon-cil-sort-alpha-down: unquote('"\\ee0e"');
$icon-cil-sort-alpha-up: unquote('"\\ee0f"');
$icon-cil-sort-ascending: unquote('"\\ee10"');
$icon-cil-sort-descending: unquote('"\\ee11"');
$icon-cil-sort-numeric-down: unquote('"\\ee12"');
$icon-cil-sort-numeric-up: unquote('"\\ee13"');
$icon-cil-spa: unquote('"\\ee14"');
$icon-cil-space-bar: unquote('"\\ee15"');
$icon-cil-speak: unquote('"\\ee16"');
$icon-cil-speaker: unquote('"\\ee17"');
$icon-cil-speech: unquote('"\\ee18"');
$icon-cil-speedometer: unquote('"\\ee19"');
$icon-cil-spreadsheet: unquote('"\\ee1a"');
$icon-cil-square: unquote('"\\ee1b"');
$icon-cil-star-half: unquote('"\\ee1c"');
$icon-cil-star: unquote('"\\ee1d"');
$icon-cil-storage: unquote('"\\ee1e"');
$icon-cil-stream: unquote('"\\ee1f"');
$icon-cil-strikethrough: unquote('"\\ee20"');
$icon-cil-sun: unquote('"\\ee21"');
$icon-cil-swap-horizontal: unquote('"\\ee22"');
$icon-cil-swap-vertical: unquote('"\\ee23"');
$icon-cil-swimming: unquote('"\\ee24"');
$icon-cil-sync: unquote('"\\ee25"');
$icon-cil-tablet: unquote('"\\ee26"');
$icon-cil-tag: unquote('"\\ee27"');
$icon-cil-tags: unquote('"\\ee28"');
$icon-cil-task: unquote('"\\ee29"');
$icon-cil-taxi: unquote('"\\ee2a"');
$icon-cil-tennis-ball: unquote('"\\ee2b"');
$icon-cil-tennis: unquote('"\\ee2c"');
$icon-cil-terminal: unquote('"\\ee2d"');
$icon-cil-terrain: unquote('"\\ee2e"');
$icon-cil-text-direction-ltr: unquote('"\\ee2f"');
$icon-cil-text-direction-rtl: unquote('"\\ee30"');
$icon-cil-text-shapes: unquote('"\\ee31"');
$icon-cil-text-size: unquote('"\\ee32"');
$icon-cil-text-square: unquote('"\\ee33"');
$icon-cil-text-strike: unquote('"\\ee34"');
$icon-cil-text: unquote('"\\ee35"');
$icon-cil-thumb-down: unquote('"\\ee36"');
$icon-cil-thumb-up: unquote('"\\ee37"');
$icon-cil-toggle-off: unquote('"\\ee38"');
$icon-cil-toggle-on: unquote('"\\ee39"');
$icon-cil-toilet: unquote('"\\ee3a"');
$icon-cil-touch-app: unquote('"\\ee3b"');
$icon-cil-transfer: unquote('"\\ee3c"');
$icon-cil-translate: unquote('"\\ee3d"');
$icon-cil-trash: unquote('"\\ee3e"');
$icon-cil-triangle: unquote('"\\ee3f"');
$icon-cil-truck: unquote('"\\ee40"');
$icon-cil-tv: unquote('"\\ee41"');
$icon-cil-underline: unquote('"\\ee42"');
$icon-cil-usb: unquote('"\\ee43"');
$icon-cil-user-female: unquote('"\\ee44"');
$icon-cil-user-follow: unquote('"\\ee45"');
$icon-cil-user-plus: unquote('"\\ee46"');
$icon-cil-user-unfollow: unquote('"\\ee47"');
$icon-cil-user-x: unquote('"\\ee48"');
$icon-cil-user: unquote('"\\ee49"');
$icon-cil-vector: unquote('"\\ee4a"');
$icon-cil-vertical-align-bottom: unquote('"\\ee4b"');
$icon-cil-vertical-align-center: unquote('"\\ee4c"');
$icon-cil-vertical-align-top: unquote('"\\ee4d"');
$icon-cil-video: unquote('"\\ee4e"');
$icon-cil-videogame: unquote('"\\ee4f"');
$icon-cil-view-column: unquote('"\\ee50"');
$icon-cil-view-module: unquote('"\\ee51"');
$icon-cil-view-quilt: unquote('"\\ee52"');
$icon-cil-view-stream: unquote('"\\ee53"');
$icon-cil-voice-over-record: unquote('"\\ee54"');
$icon-cil-voice: unquote('"\\ee55"');
$icon-cil-volume-high: unquote('"\\ee56"');
$icon-cil-volume-low: unquote('"\\ee57"');
$icon-cil-volume-off: unquote('"\\ee58"');
$icon-cil-walk: unquote('"\\ee59"');
$icon-cil-wallet: unquote('"\\ee5a"');
$icon-cil-wallpaper: unquote('"\\ee5b"');
$icon-cil-warning: unquote('"\\ee5c"');
$icon-cil-watch: unquote('"\\ee5d"');
$icon-cil-wc: unquote('"\\ee5e"');
$icon-cil-weightlifitng: unquote('"\\ee5f"');
$icon-cil-wheelchair: unquote('"\\ee60"');
$icon-cil-wifi-signal-0: unquote('"\\ee61"');
$icon-cil-wifi-signal-1: unquote('"\\ee62"');
$icon-cil-wifi-signal-2: unquote('"\\ee63"');
$icon-cil-wifi-signal-3: unquote('"\\ee64"');
$icon-cil-wifi-signal-4: unquote('"\\ee65"');
$icon-cil-wifi-signal-off: unquote('"\\ee66"');
$icon-cil-window-maximize: unquote('"\\ee67"');
$icon-cil-window-minimize: unquote('"\\ee68"');
$icon-cil-window-restore: unquote('"\\ee69"');
$icon-cil-window: unquote('"\\ee6a"');
$icon-cil-wrap-text: unquote('"\\ee6b"');
$icon-cil-x-circle: unquote('"\\ee6c"');
$icon-cil-x: unquote('"\\ee6d"');
$icon-cil-yen: unquote('"\\ee6e"');
$icon-cil-zoom-in: unquote('"\\ee6f"');
$icon-cil-zoom-out: unquote('"\\ee70"');
$icon-cil-zoom: unquote('"\\ee71"');

